$doitfy-modal-width: 600px;
$doitfy-modal-height: 400px;

.doitfy-modal {
	position: absolute;
	top: -100%;
	left: 50%;
	width: $doitfy-modal-width;
	height: $doitfy-modal-height;
	margin: (-($doitfy-modal-height/2)) 0 0 (-($doitfy-modal-width/2));
	background: #fff;
	z-index: 10;
	transition: .4s all ease-out;
}

.doitfy-modal-is-open {
	top: 50%;
}

.doitfy-modal-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	display: none;
	transition: .4s opacity linear;
}

.doitfy-modal-overlay.is-shown {
	opacity: 1;
	display: block;
}